.navbar {
  padding: 1rem;
  background: white !important;
  margin-bottom: 10px;
}
.products {
  margin-top: 10px;
}
.products h4 {
  padding-bottom: 10px;
  padding-left: 10px;
}
.product {
  margin-bottom: 12px;
}
.product .card-body {
  padding: 1rem;
}
.product .btn {
  padding: 4px 10px;
}
.product form {
  display: inline
}
.product-categories {
  margin-top: 20px;
}
.product-category {
  margin-bottom: 10px;
}
.product-category .card-img-top {
  max-height: 200px;
  max-width: 300px;
  margin: auto;
}
.product-category .card-body {
  font-size: 15px;
  padding: 10px 15px;
}
.checkout .checkout-items {
  flex: 1 1 auto;
}
.checkout .checkout-items .checkout-item {
  display: inline-flex;
  flex: 1 1 auto;
}
.checkout-item .checkout-item-img {
  flex-grow: 1;
}
.checkout-item .checkout-item-info {
  flex-grow: 7;
}
.checkout-item .checkout-item-qty {
  flex-grow: 1;
}
.checkout-item .checkout-item-price {
  flex-grow: 1;
}
