{% extends '_layout.html' %} 

{% block content %}
  <div class="container">
    <div class="checkout offset-sm-2 col-sm-8">
      <h4>Cart</h4>
      <div class="row">
        <div class="card checkout-items">
          <div class="card-header">
            <div class="float-right">Total: $54.15</div>
          </div>
          <div class="card-body">
            {% for item in product_items %}
            <div class="row">
              <div class="checkout-item">
                <div class="checkout-item-img">
                  <img class="card-img-top" src="http://via.placeholder.com/25x25" alt="Card image cap">
                </div>
                <div class="checkout-item-info">
                  {{ item.product.name }}
                </div>
                <div class="checkout-item-qty">
                  {{ item.quantity }}
                </div>
                <div class="checkout-item-price">
                  {{ item.product.price_in_dollars|stringformat:'.2f' }}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}