<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Material Design for Bootstrap fonts and icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

  <!-- Material Design for Bootstrap CSS -->
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
    integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

  <link rel="stylesheet" href="./styles.css">

  <title>Hello, world!</title>
</head>

<body class="bg-white">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">Navbar</a>
      <div class="shopping-cart navbar-text">
        <a href="http://google.com">
          <i class="fas fa-shopping-cart fa-lg"></i>
        </a>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="checkout offset-sm-2 col-sm-8">
      <h4>Cart</h4>
      <div class="row">
        <div class="card checkout-items">
          <div class="card-header">
            <div class="float-right">Total: $54.15</div>
          </div>
          <div class="card-body">
            {% for item in product_items %}
            <div class="row">
              <div class="checkout-item">
                <div class="checkout-item-img">
                  <img class="card-img-top" src="http://via.placeholder.com/25x25" alt="Card image cap">
                </div>
                <div class="checkout-item-info">
                  {{ item.product.name }}
                </div>
                <div class="checkout-item-qty">
                  {{ item.quantity }}
                </div>
                <div class="checkout-item-price">
                  {{ item.product.price_in_dollars|stringformat:'.2f' }}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
    crossorigin="anonymous"></script>
  <!-- SnackbarJS plugin -->
  <script src="https://cdn.rawgit.com/FezVrasta/snackbarjs/1.1.0/dist/snackbar.min.js"></script>
  <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
    crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
    crossorigin="anonymous"></script>
  <script src="./scripts.js"></script>
  <script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>
</body>

</html>